<fieldset data-payment-target="additionalFields" data-type="M-pesa">
  <div>
    <%= form.label :phone_number, class: 'form-label' %>
    <%= form.text_field :phone_number, class: 'form-control' %>
  </div>
</fieldset>
