<fieldset data-payment-target="additionalFields" data-type="Stripe">
  <div>
    <%= form.label :stripe_number, class: 'form-label' %>
    <%= form.text_field :stripe_number, class: 'form-control' %>
  </div>
</fieldset>
