<div id="<%= dom_id cart %>">
    <h3>Cart</h3>
    <ul>
        <% cart.line_items.each do |item|%>
            <li><%= item.quantity%>&times; <%= item.product.title%> </li>
        <%end%>
    </ul>
</div>

<%= button_to 'Empty Cart', cart, method: :delete, class: 'btn btn-danger'%>
