<div id="<%= dom_id line_item %>">
      <% if line_item == @current_item%>
        <tr class='line-item-highlight'></tr>
      <%else%>
        <tr></tr>
      <% end%>
  <p>
    <strong>Product:</strong>
    <%= line_item.product_id %>
  </p>

  <p>
    <strong>Cart:</strong>
    <%= line_item.cart_id %>
  </p>

</div>
