<div class='container py-5'>
 <%= render partial:'layouts/cart', locals: {cart: @cart}%>
 <div class='title text-center'>
  <h1>My Catalog</h1>
 </div>
 <%= turbo_stream_from 'products'%>

 <% cache @products do %>
    <div class='row row-cols-1 row-cols-sm-3 g-4 py-5'>
  <% @products.each do |product|%>
    <%cache product do%>
      <div class='col-sm-4'>
        <%= render partial:'product', object: product %>
      </div>
    <% end %>
  <% end %>
    </div>
 <%end%>

</div>