
<div class="container">
<%= render partial:'layouts/cart', locals: {cart: @cart}%>
    <div class= "title text-center">
        <h1>My Catalog</h1>    
    </div>
    <%= turbo_stream_from 'products'%>
    
    <%cache @products do%>
        <% @products.each do |product|%>
            <% cache product do%>
                <%= render partial:'product', object: product%>
            <%end%>
        <% end%>
    <%end%>
</div>